<a href="https://colab.research.google.com/github/aslam7861/Python/blob/main/lists_and_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists and loops

As we are to become Data Scientists, we are going to need objects that can store multiple elements. In Python, the list is one of the most useful ones. You can create a list with `[]`, and separating its elements with commas:

In [ ]:
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

A list can also contain numbers:

In [ ]:
leap_years = [2000, 2004, 2008, 2012, 2016, 2020]

You can create a list out of something else with `list()`:

In [ ]:
list("WBSCS")

['W', 'B', 'S', 'C', 'S']

You can extract single or multiple values from a list by especifying their position inside of square brackets:

In [ ]:
weekdays[0]

'Monday'

In [ ]:
leap_years[-1]

2020

In [ ]:
weekdays[0:3]

['Monday', 'Tuesday', 'Wednesday']

One of the most useful functions we will use in combination with lists is `append()`: it just adds an element at the end of the list:

In [ ]:
leap_years.append(2024)
print(leap_years)

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2024]

This is possible because lists, unlike strings or numbers, are mutable: you can change them without having to define them again.

The `insert()` function does the same, but at any specified position:

In [ ]:
leap_years.insert(0, 1996)
print(leap_years)

[1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2024]

In [ ]:
leap_years.insert(2, "Happy new millenia")
print(leap_years)

[1996, 2000, 'Happy new millenia', 2004, 2008, 2012, 2016, 2020, 2024, 2024]

As you can see, lists support containing elements from different data types. They're heterogeneous.

There are some other built-in methods that you can use to manipulate lists. Check them out here (https://www.w3schools.com/python/python_lists_methods.asp) and complete the following exercises:

In [ ]:
# some lists to work with
car_brands = ["BMW", "Volkswagen", "Mercedes", "Ford", "Apple", "Toyota", 
              "Tesla", "Kia", "Porsche", "Mazda", "Honda", "Jaguar", 
              "Mitsubishi", "Audi", "Bentley", "Bugatti", "Chrisler"]

fibonacci = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 53, 89, 144]

characters = [["Harry", "Hermoine", "Ron"], 
              ["Daenerys Targaryen", "Jon Snow", "Tyrion Lannister", 
               "Cercei Lannister", "Arya Stark", "Sansa Stark"],
              ["Aragorn", "Gandalf", "Frodo", "Legolas", "Gollum", "Gimli"],
              ["Walter White", "Jesse Pinkman", "Gus Fring"]
             ]

sex_and_the_city = ["Carrie", "Samantha", "Charlotte", "Miranda"]

numbers = [[1, 51, 59, 2, 95, 25, 28, 67, 14, 63, 84, 33, 56, 31, 54, 97, 77, 
            98, 46, 84, 6, 66, 86, 77, 69, 19, 77, 7, 76, 19, 59, 77, 28, 34, 
            94, 4, 45, 95, 41, 66, 5, 38, 35, 57, 84, 38, 94, 65, 45, 80, 83, 
            22, 12, 100, 52, 55, 31, 69, 29, 67, 4, 39, 87, 49, 81, 82, 96, 4, 
            85, 62, 90, 72, 70, 26, 29, 63, 48, 94, 58, 9, 49, 79, 33, 63, 41, 
            13, 90, 37, 31, 3, 11, 54, 56, 72, 91, 97, 2, 83, 82, 6]]

1. Find out the position of "Bugatti" in the `car_brands` list (whether it is the 3rd element, the 5th...).

In [ ]:
# code here
car_brands[-2]

'Bugatti'

2. Remove "Apple" from the `car_brands` list.

In [ ]:
# code here
print(car_brands)
car_brands[4]

['BMW', 'Volkswagen', 'Mercedes', 'Ford', 'Toyota', 'Tesla', 'Kia', 'Porsche', 'Mazda', 'Honda', 'Jaguar', 'Mitsubishi', 'Audi', 'Bentley', 'Bugatti', 'Chrisler']

'Toyota'

3. Order alphabetically the `car_brands` list.

In [ ]:
# code here
car_brands.sort()
print(car_brands)

['Audi', 'BMW', 'Bentley', 'Bugatti', 'Chrisler', 'Ford', 'Honda', 'Jaguar', 'Kia', 'Mazda', 'Mercedes', 'Mitsubishi', 'Porsche', 'Tesla', 'Toyota', 'Volkswagen']

4. There is a mistake in the list with fibonacci sequence: fix it.

In [ ]:
# code here
print(fibonacci)
fibonacci.sort()
fibonacci.remove(1)
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 53, 89, 144]
[0, 1, 2, 3, 5, 8, 13, 21, 34, 53, 89, 144]

5. Order descendingly the `fibonacci` list.

In [ ]:
# code here
fibonacci.sort(reverse=True)
print(fibonacci)

[144, 89, 53, 34, 21, 13, 8, 5, 3, 2, 1, 0]

6. Add "Hagrid" and "Dumbledore" to the first list inside the `characters` list.

In [ ]:
# code here
print(characters)
characters.insert(0,["Hagrid","Dumbledore"])
characters=characters[2:len(characters)]
print(characters)

[['Hagrid', 'Dumbledore'], ['Hagrid', 'Dumbledore'], ['Harry', 'Hermoine', 'Ron'], ['Daenerys Targaryen', 'Jon Snow', 'Tyrion Lannister', 'Cercei Lannister', 'Arya Stark', 'Sansa Stark'], ['Aragorn', 'Gandalf', 'Frodo', 'Legolas', 'Gollum', 'Gimli'], ['Walter White', 'Jesse Pinkman', 'Gus Fring']]
[['Hagrid', 'Dumbledore'], ['Harry', 'Hermoine', 'Ron'], ['Daenerys Targaryen', 'Jon Snow', 'Tyrion Lannister', 'Cercei Lannister', 'Arya Stark', 'Sansa Stark'], ['Aragorn', 'Gandalf', 'Frodo', 'Legolas', 'Gollum', 'Gimli'], ['Walter White', 'Jesse Pinkman', 'Gus Fring']]

7. Add the `sex_and_the_city` list in the `characters` list.

In [ ]:
# code here
characters.append([sex_and_the_city])

8. Remove all elements from the `sex_and_the_city` list.

In [ ]:
# code here
print(characters)

[['Hagrid', 'Dumbledore'], ['Harry', 'Hermoine', 'Ron'], ['Daenerys Targaryen', 'Jon Snow', 'Tyrion Lannister', 'Cercei Lannister', 'Arya Stark', 'Sansa Stark'], ['Aragorn', 'Gandalf', 'Frodo', 'Legolas', 'Gollum', 'Gimli'], ['Walter White', 'Jesse Pinkman', 'Gus Fring'], [['Carrie', 'Samantha', 'Charlotte', 'Miranda']]]

9. Sum all elements in the `numbers` list.

In [ ]:
# code here
print(numbers)
print(numbers[0])
sum(numbers[0])

[[1, 51, 59, 2, 95, 25, 28, 67, 14, 63, 84, 33, 56, 31, 54, 97, 77, 98, 46, 84, 6, 66, 86, 77, 69, 19, 77, 7, 76, 19, 59, 77, 28, 34, 94, 4, 45, 95, 41, 66, 5, 38, 35, 57, 84, 38, 94, 65, 45, 80, 83, 22, 12, 100, 52, 55, 31, 69, 29, 67, 4, 39, 87, 49, 81, 82, 96, 4, 85, 62, 90, 72, 70, 26, 29, 63, 48, 94, 58, 9, 49, 79, 33, 63, 41, 13, 90, 37, 31, 3, 11, 54, 56, 72, 91, 97, 2, 83, 82, 6]]
[1, 51, 59, 2, 95, 25, 28, 67, 14, 63, 84, 33, 56, 31, 54, 97, 77, 98, 46, 84, 6, 66, 86, 77, 69, 19, 77, 7, 76, 19, 59, 77, 28, 34, 94, 4, 45, 95, 41, 66, 5, 38, 35, 57, 84, 38, 94, 65, 45, 80, 83, 22, 12, 100, 52, 55, 31, 69, 29, 67, 4, 39, 87, 49, 81, 82, 96, 4, 85, 62, 90, 72, 70, 26, 29, 63, 48, 94, 58, 9, 49, 79, 33, 63, 41, 13, 90, 37, 31, 3, 11, 54, 56, 72, 91, 97, 2, 83, 82, 6]

5312

10. Find out how many times does the number `77` appear in the `numbers` list.

In [ ]:
# code here
i = 0 
for a in numbers[0]:
  if a == 77:
      i +=1


print(i)

4

### For loops

Whenever you want to apply any transformation to all elements in a list, you iterate through them with a `for` loop.

In [ ]:
names_list = ["Justine", "Amabel", "Karl"]

for name in names_list:
    print("Hello " + name + "!")

Hello Justine!
Hello Amabel!
Hello Karl!

Here, the word `name` could really be anything. It is just a placeholder that takes the value of each element in the for loop in every sucessive iteration, until the loop reaches the end of the list. Using a diferent name does not change the result:

In [ ]:
for dinosaur in names_list:
    print("Hello " + dinosaur + "!")

Hello Justine!
Hello Amabel!
Hello Karl!

Replicate the same greeting loop, but using the f-strings that you learned in the previous lesson:

In [ ]:
# code here
for aa in names_list:
    "Hello %s!" % aa

If we wanted to store the resulting transformations of our loop into a new list, we would define an empty list first, and then `append()` all the elements as we iterate through the loop:

In [ ]:
greetings = []

for name in names_list:
    greetings.append("Hello " + name + "!")

In [ ]:
greetings

['Hello Justine!', 'Hello Amabel!', 'Hello Karl!']

**Exercise:** 

1. Create a List named `lower_names` with all the names of the students in your batch. Include name and surname, all in lowercase (like `john doe`).

In [ ]:
# code here
batch_name = ["Aslam Ali", "Tobias abc", "Daniel efg", "Komal ind"]
for i in range(len(batch_name)):
  batch_name[i]=batch_name[i].lower()

print(batch_name)

['aslam ali', 'tobias abc', 'daniel efg', 'komal ind']

2. Create a new list `capital_names`  with both the names and surnames capitalized (like `John Doe`), by iterating through the first list with a `for` loop.

In [ ]:
# code here
for i in range(len(batch_name)):
  batch_name[i]=batch_name[i].upper()

print(batch_name)

['ASLAM ALI', 'TOBIAS ABC', 'DANIEL EFG', 'KOMAL IND']

### Conditions with `if`

Whenever you want to do something only if a condition is met, you will need an `if` statement. Let's say we want to greet people only if their name starts with "A". We will add a few more names to our list:

In [ ]:
names_list = ["Justine", "Amabel", "Karl", "Anna", "Lina", "Sergei", "Magnus", "Aurora"]

We can check one by one whether they start with "A" by selecting them from the list by their position using `[]`, and using the string method you already learned `starts_with()`:

In [ ]:
# Justine
print(names_list[0].startswith("A"))

# Amabel
print(names_list[1].startswith("A"))

False
True

These booleans, `True` or `False`, are exactly what `if` statements need. Whenever a condition is true, the code below the `if` statement runs; if the condition is false, the code is skipped and nothing happens:

In [ ]:
condition = True

if condition:
    print("yay")

yay

In [ ]:
condition = False

if condition:
    print("yay")

So we can now tie everything together:

- A for loop that iterates through the names.

- An `if` statment that checks whether the name starts with "A".

- A greeting.

In [ ]:
for name in names_list:
    if name.startswith("A"):
        print("Hello " + name + "!")

Hello Amabel!
Hello Anna!
Hello Aurora!

An `else` statement can be added if you want to do something witht the elements that did not meet the condition. 

After the `if` and the `else` statements, you can continue coding normally —and the code will run independently of any conditions. Here, we print some text and a line break:

In [ ]:
for name in names_list:
    if name.startswith("A"):
        print("Hello " + name + "!")
    else:
        print("Bye " + name + "!")
    print("next iteration incoming... \n")

Bye Justine!
next iteration incoming...

Hello Amabel!
next iteration incoming...

Bye Karl!
next iteration incoming...

Hello Anna!
next iteration incoming...

Bye Lina!
next iteration incoming...

Bye Sergei!
next iteration incoming...

Bye Magnus!
next iteration incoming...

Hello Aurora!
next iteration incoming...

**Exercise:** In the previous code, the "next iteration incoming..." text gets printed also for the last iteration, which might be confusing for whoever is reading the output of this code. Tweak the code so that this text only gets printed if we are not in the last element of our list.

**Tip**: it is totally normal if you don't know how to approach this exercise right away. You might need to use something we have not seeen in this lesson or the previous one. Google is your friend! If you are stuck for a long time (above 30 min), and have already tried many things, it's time to ask for help to your instructor.

In [ ]:
# code here
for name in names_list:
    if name.startswith("A"):
        print("Hello " + name + "!")
    else:
        print("Bye " + name + "!")
    if name != names_list[len(names_list)-1]:
        print("next iteration incoming... \n")

Bye Justine!
next iteration incoming...

Hello Amabel!
next iteration incoming...

Bye Karl!
next iteration incoming...

Hello Anna!
next iteration incoming...

Bye Lina!
next iteration incoming...

Bye Sergei!
next iteration incoming...

Bye Magnus!
next iteration incoming...

Hello Aurora!

### Bonus exercises

1. Implement the for loop that greets people for the `characters` list you used in the previous exercises. For now, do not include any condition —just say hello to every character. What do you need to do to iterate through lists inside a list?

In [ ]:
# code here

2. Tweak the code of the previous exercise to greet characters based on these conditions:

- If their name is composed of two words (Name Surname), the greeting should be "Hello Name, from the house of Surname".

- If their name is shorter than 6 characters, the greeting should replicate the last letter of the name as many times as needed until it reaches 6 characters.

In [ ]:
# code here